/* Spring-React */
/* #root {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

.main-container {
  /* display: flex; */
  /* min-height: 100vh; */
}

.simple-trans-main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 92%;
  color: white;
  font-weight: bold;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  overflow: auto;
  flex-wrap: wrap;
  padding: 2vh;

}

.next-button {
  cursor: pointer;
  position: fixed;
  font-size: 2vh;
  bottom: 50%;
  right: 2%;
  z-index: 10;
}

.page-1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.row-icons {
  display: flex;
  align-content: center;
  justify-content: center;
}
.row-icons .icon {
  height: 100%;
  margin: 2vh;
  cursor: pointer;
}

.page-2{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-2 .img-column{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 95vh;
  flex-wrap: wrap;
  flex:1;
}
.page-2 .img-column .img-div {
  height: 55vh;
  padding: 1vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.page-2 .img-column .img-div .profile-image{
  height: 30vh;
}
.page-2 .img-column .img-div .text-img{
  height: 25vh;
  color: #282c34;
  margin: 1vh;
}

.page-2 .img-column .img-div .text-img > h2,h3{
  margin: 0.5vh;
}

.page-2 .img-column .topics{
  height: 40vh;
  padding: 1vh;
}
.page-2 .img-column .topics  >h2{
  color: #282c34;
  margin: 1vh;
}
.page-2  .img-column .topics .topics-list{
  color: #282c34;
  font-size: 2.5vh;
  align-content: center;
}

.page-2 .experience-div{
  flex: 3;
  height: 90vh;
  color: #282c34;
  vertical-align: middle;
}

.page-2 .experience-div .experience-column{
  display: flex;
  align-content: center;
  justify-content: center;
}

.page-2 .experience-div .experience-column .experience-item {
  background-color: #282c34;
  overflow: hidden;
  flex: 1;
  height: 20vh;
  vertical-align: middle;
  border-width: 0.1vh;
  padding: 0.5vh;
  border-color: #f50057 !important;
}

.page-2 .experience-div .experience-column .education-item {
  background-color: #282c34;
  overflow: hidden;
  flex: 1;
  height: 12vh;
  vertical-align: middle;
  border-width: 0.1vh;
  padding: 0.5vh;
  border-color: #f50057 !important;
}

.page-2 .experience-div .experience-column .experience-item > p {
  color: #ccc;
  margin: 0;
}
.page-2 .experience-div .experience-column .experience-item > h5{
  color: #aaaaaa;
  margin: 1vh;
}
.page-2 .experience-div .experience-column .education-item > p{
  color: #ccc;
  margin: 0;
}
.page-2 .experience-div .experience-column .education-item > h5{
  color: #aaaaaa;
  margin: 1vh;
}
.page-2  .experience-div h2{
  margin: 2vh;
}

.page-3{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-3 .portfolio-item {
  background-color: #282c34;
  overflow: hidden;
  height: 75vh;
  border-width: 0.1vh;
  padding: 2px;
  margin: 10px;
  flex-basis: 40%;
  border-color: #f50057
}

.page-2 .portfolio-item > h2{
  color: #ccc
}
.page-2 .portfolio-item > p{
  color: #aaaaaa
}

/* Media query for pages */
@media (min-width: 900px) {
  .page-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .page-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 900px) {
  .page-2 .experience-div .experience-column{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* Animations */
.blinking {
  animation: blinkingText 1s infinite;
}
.heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out 1s infinite both;
  animation: heartbeat 2s ease-in-out 1s infinite both;
}
.bounce-top {
  -webkit-animation: bounce-top 1.3s 1s both;
  animation: bounce-top 1.3s 1s both;
}

.bg-pan-bottom {
  -webkit-animation: bg-pan-bottom 8s both;
  animation: bg-pan-bottom 8s both;
}

.color-change-2x {
  -webkit-animation: color-change-2x 8s linear infinite alternate both;
  animation: color-change-2x 8s linear infinite alternate both;
}

@keyframes blinkingText {
  0% {
    color: rgb(255 255 255);
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #2d4159;
  }
  100% {
    background: #19181a;
  }
}
@keyframes color-change-2x {
  0% {
    background: #2d4159;
  }
  100% {
    background: #19181a;
  }
}

/**
 * ----------------------------------------
 * animation bg-pan-bottom
 * ----------------------------------------
 */
@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
